  :root{
    --white-color: #f6f6f6;
    --shade-of-black: rgb(26, 26, 26);
    --deep-dark: #121212;
    --orange: #ff9933;
    --red: #e5062f;
    /* fonts */
    --poppins: "Poppins", sans-serif;
    --roboto: "Roboto", sans-serif;
    --form-input: #e7e7e7;
    --border-color: rgba(246, 246, 246, 0.2);
  }

  /* training hero */

.sub_hero {
    min-height: 100vh;
    background-image: url("../images/bg_01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.sub_hero::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--shade-of-black);
    opacity: 0.5;
    z-index: 1;
}

.sub-hero-inner{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 7rem;  /* move hero down*/
}

.sub_hero h1,
.sub_hero h2{
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: white;
    width: 100%;
    max-width: 25rem;
    text-align: center;
    font-family: var(--poppins);
    text-transform: capitalize;
}

.sub-hero-inner button{
    background-color: var(--red);
    color: var(--white-color);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: capitalize;
    border: 1px solid rgba(246, 246, 246, 0.1);
    font-weight: bold;
    cursor: pointer;
}

.sub_section{
    width: 100%;
    max-width: 55rem;
    margin-inline: auto;
}

.subCard{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.subCard h3,li,p{
    color: var(--white-color);
}

.subCard h3{
    font-size: 1.3rem;
    text-transform: capitalize;
}

.subCard p,li{
    font-weight: 300;
    font-family: var(--roboto);
}

.subCard li{
    list-style-position: inside;
}

.sub_desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bold{
    font-weight: 600;
}


@media (min-width: 430px){
    .sub_hero h1,
    .sub_hero h2{
        font-size: 1.7rem;
        line-height: 3rem;
    }
}

@media (min-width: 600px){
    /* training_section */
    .subCard h3{
        font-size: 1.5rem;
    }

}

@media (min-width: 768px){
    .sub_hero h1{
        font-size: 2rem;
        max-width: 30rem;
    }

}

@media (min-width: 960px){
    .sub_hero h1,
    .sub_hero h2{
        font-size: 3.5rem;
        max-width: 90%;
        line-height: 4.5rem;
    }
    
    /* training_section */
    .subCard h3{
        font-size: 1.7rem;
    }
}

