:root{
    --white-color: #f6f6f6;
    --shade-of-black: rgb(26, 26, 26);
    --deep-dark: #121212;
    --orange: #ff9933;
    --red: #e5062f;
    /* fonts */
    --poppins: "Poppins", sans-serif;
    --roboto: "Roboto", sans-serif;
}

.top_wrapper{
    position: relative;
    width: 100%;
}
  

header{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
}

header figure {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    cursor: pointer;
}

header img{
    width: 3rem;
    height: auto;
    border-radius: 3px;
}

header figcaption{
    color: var(--white-color);
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 0.8rem;
}

header > div{
    display: flex;
}

/* header > div > div{
    background-color: var(--shade-of-black);
} */

.search{
    display: none;
}

.menu{
    display: none;
}

header button{
    background: none;
    border: none;
    color: var(--white-color);
    font-size: 1.35rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
}

header button:hover{
    cursor: pointer;
}

header button i{
    font-size: 1.5rem;
}

.dropdown {
    position: fixed;
    left: 0;
    top: 5rem; 
    background-color: var(--shade-of-black);
    width: 100vw; 
    border-top: 1px solid rgba(246, 246, 246, 0.1);
    height: calc(100vh - 5rem); 
    padding: 2rem;
    display: none;
    flex-direction: column;
    gap: 1rem;
    opacity: 0; 
    transition: opacity 0.3s ease, display 0.3s ease; 
    z-index: 30;
    overflow-y: auto;
}

.dropdown li{
    list-style: none;
}

.dropdown a {
    font-size: 1.3rem;
    text-transform: capitalize;
    transition: color 0.3s ease-in-out;
}

.dropdown a:hover {
    color: var(--red);
}

.programs{
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem 1.5rem;
    width: 100%;
    max-width: 20rem;
}

.nav-item > a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white-color);
}

.nav-item > a i{
    font-size: 1rem;
}

.programs.showPrograms{
    display: flex;
}

header li a:hover{
    color: var(--red);
}

.active{
    display: flex;
    opacity: 1; 
}

@media (min-width: 768px){
    .dropdown a {
        font-size: 1.4rem;
    }
}


@media (min-width: 960px){
    header figure {
        padding: 0 2rem;
    }

    header img{
        width: 4rem;
    }

    header figcaption{
        font-size: 1.3rem;
    }

    header > div{
        background-color: var(--shade-of-black);
    }

    header > div > div{
        border-right: 1px solid rgba(246, 246, 246, 0.1);
        display: flex;
        /* padding: 2rem; */
        background-color: var(--shade-of-black);
    }

    .search{
        display: block;
    }

    .menu{
        display: block;
    }

    header > div > div:hover{
        cursor: pointer;
        filter: brightness(0.5);
    }

    header button{
        padding: 2rem;
    }

    .dropdown{
        gap: 0.4rem;
    }

    .dropdown a {
        font-size: 1.6rem;
    }
    
}