:root{
    --white-color: #f6f6f6;
    --shade-of-black: rgb(26, 26, 26);
    --deep-dark: #121212;
    --orange: #ff9933;
    --red: #e5062f;
    /* fonts */
    --poppins: "Poppins", sans-serif;
    --roboto: "Roboto", sans-serif;
}

.hero {
    min-height: 100vh;
    background-image: url("../../images/bg_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.hero::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--shade-of-black);
    opacity: 0.65;
    z-index: 1;
}

.hero-inner{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 7rem;  /* move hero down*/
}

.hero h1,
.hero h2{
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: white;
    width: 100%;
    max-width: 25rem;
    text-align: center;
    font-family: var(--poppins);
    text-transform: capitalize;
}

.hero-inner button{
    background-color: var(--red);
    color: var(--white-color);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: capitalize;
    border: 1px solid rgba(246, 246, 246, 0.1);
    font-weight: bold;
    cursor: pointer;
}

.path{
    /* display: flex; */
    flex-direction: column;
    background-color: var(--white-color);
    width: 100%;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 10px;
    font-family: var(--poppins);
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: none;
}

.path > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.path > div > div{
    align-self: flex-start;
}

.path input[type="radio"]{
    transform: scale(1.02);
    cursor: pointer;
    margin-right: 0.5rem;
}

.path button{
    align-self: flex-end;
    border: none;
    background-color: var(--white-color);
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.path label{
    cursor: pointer;
}

@media (min-width: 430px){
    .hero h1,
    .hero h2{
        font-size: 1.7rem;
        line-height: 3rem;
    }
}

@media (min-width: 600px){
    .path input[type="radio"]{
        /* flex-direction: row; */
        scale: 1.03;
    }
}

@media (min-width: 768px){
    .hero h1,
    .hero h2{
        font-size: 2rem;
        max-width: 30rem;
    }
}

@media (min-width: 960px){
    .hero h1,
    .hero h2{
        font-size: 3.5rem;
        max-width: 90%;
        line-height: 4.5rem;
    }

    .hero-inner button{
        font-size: 1.3rem;
    }

    .path{
        font-size: 1.4rem;
        max-width: 40rem;
    }
}